<section class="ref">
    <div class="ref__header">
        <div class="ref__title">
            Партнёрская программа
        </div>
    </div>
    <div class="ref__body">
        <div class="type-card col-12 col-md-8">
                <h3 class="type-card__title">Вы можете заказать выплату реферальных начислений</h3>
                <div class="type-card__content-wrap">
                    <div class="form-block ">
                        <div class="select-wrap position-relative">
                            <p>Выберите валюту</p>
                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                <option value="Bitcoin" selected>Bitcoin</option>
                                <option value="Teather TRC-20">Teather TRC-20</option>
                            </select>
                            <div class="arrow-down_wrap">
                                <img class="arrow-down_img" src="assets/arrow-down.png" alt="">
                            </div>
                        </div>
                        <div class="form-field__wrap">
                            <p  class="my-2">Реквизиты получателя</p>
                            <div class="input-icon__wrap">
                                <img src="assets/icons/i1.svg" alt="" class="input-icon">
                            </div>
                            <input type="text" placeholder="Адрес получения">
                        </div>
                        <div class="form-field__wrap">
                            <p>Введите сумму</p>
                            <input type="number" placeholder="0 USD" min="10" max="0">
                        </div>
                        <button class="btn-yellow">
                            Заказать выплату
                        </button>
                    </div>
                    <div class="info-block ">
                        <div class="info-block__elem">
                            <p>Ваша ссылка</p>
                            <a href="/">https://cosmochanger.cc?r=44439</a>
                        </div>
                        <div class="info-block__elem">
                            <p>Начислено</p>
                            <p class="color-yellow">0 USD</p>
                        </div>
                        <div class="info-block__elem">
                            <p>Проецент вознаграждения</p>
                            <p class="color-yellow">0,5%</p>
                        </div>
                        <div class="info-block__elem">
                            <p>Переходов по ссылке</p>
                            <p class="color-yellow">0</p>
                        </div>
                        <div class="info-block__elem">
                            <p>Рефералов</p>
                            <p class="color-yellow">0</p>
                        </div>
                    </div>
                </div>
            </div>
        <div class="type-card">
            <h3 class="type-card__title">Реферальные выплаты</h3>
            <p>Пока тут пусто</p>
        </div>
        <div class="type-card">
            <h3 class="type-card__title">Статистика реферальных начислений</h3>
            <p>Пока тут пусто</p>
        </div>

    </div>
</section>
