<section class="ref">
    <div class="ref__header" style="height: 76px">
        <div class="ref__title">
            Партнёрская программа
        </div>
    </div>
    <div class="ref__body">
        <div class="type-card">
            <h3 class="type-card__title">Вы можете заказать выплату реферальных начислений</h3>
            <div class="type-card__content-wrap">
                <div class="form-block">
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="info-block"></div>
            </div>
        </div>
    </div>
</section>
