<section class="manage">
    <div class="manage__header">
        <div class="manage__title">
            История Ваших заявок
        </div>
        <button class="btn-yellow">
            Создать заявку
        </button>
    </div>
    <div class="manage__body">
        <table class="table">
            <thead>
                <tr>
                <th>Номер</th>
                <th>Статус</th>
                <th>Дата</th>
                <th>К обмену</th>
                <th>К получению</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>content</td>
                    <td>content</td>
                    <td>content</td>
                    <td>content</td>
                    <td>content</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
