.manage{
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid rgba(33, 33, 33, .1);
        border-bottom: 1px solid rgba(33, 33, 33, .1);
        padding: 6px 62px;
        @media (max-width: 1025px){
            padding: 6px 21px;
        }
        @media(max-width: 560px){
            padding: 6px 0;
        }
    }
    &__title{
        font-weight: 600;
        font-size: 25px;
        line-height: 1.25;
        color: #212121;
        @media(max-width: 1025px){
            font-size: 16px;
        }
        @media (max-width: 500px) {
            font-size: 12px;
        }
    }
    &__body{
        margin-top: 45px;
        & table{
            word-break: break-all;
            border: 1px solid rgba(33, 33, 33, .1);
            @media(max-width: 1025px){
                font-size: 12px;
            }
            @media(max-width: 500px){
                font-size: 8px;
            }
            & > thead > tr > th{
                text-align: center;
                border: 1px solid rgba(33, 33, 33, .1);
                font-weight: 500;
                line-height: 1.25;
                color: #212121;
                padding: 24px 0;
            }
            & > tbody > tr > td{
                text-align: center;
                background-color: #fff;
                font-weight: 500;
                line-height: 1.25;
                color: #212121;
            }
        }
    }
    
}

.btn-yellow{
    background-color: #fcbf11;
    font-weight: 600;
    border: none;
    border-radius: 0 3px 3px 0;
    padding: 19px 22px;
    transition: box-shadow .24s ease, background-color .24s ease;
    box-shadow: 0 0 10px rgb(252 191 17 / 25%);
    &:hover{
        box-shadow: 0 0 35px rgb(252 191 17 / 45%);
    }
    @media(max-width: 1150px){
        font-size: 16px;
        padding: 13px 16px;
    }
    @media (max-width: 500px) {
        font-size: 12px;
        padding: 3px 5px;
    }
}

