<section class="manage">
    <div class="manage__header">
        <div class="manage__title">
            {{isAdmin() ? 'Заявки' : 'История Ваших заявок'}}
        </div>
        <button *ngIf="!isAdmin()" (click)="createOrder()" class="btn-yellow">
            Создать заявку
        </button>
    </div>
    <div class="manage__body">
        <table class="table">
            <caption *ngIf="ordersData.length === 0">
                Здесь будут отображаться ваши заявки
            </caption>
            <thead>
                <tr>
                    <th>Номер</th>
                    <th>Статус</th>
                    <th>Дата</th>
                    <th>К обмену</th>
                    <th>К получению</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of ordersData; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{item.status}}</td>
                    <td>{{item.createdAt}}</td>
                    <td>{{item.symbolFrom}} {{item.valueFrom}}</td>
                    <td>{{item.symbolTo}} {{item.valueTo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
