<mat-dialog-content>
    <div class="btn-wrap">
        <mat-dialog-actions >
            <button mat-raised-button mat-dialog-close color="warn" align="end" class="mat-btn">
                close
            </button>
        </mat-dialog-actions>
    </div>
    <form [formGroup]="cryptoForm"  class="content">
        <div class="block" [ngClass]="isEditMode() ? 'block-big' : 'block'">
            <mat-form-field *ngIf="!isEditMode()" appearance="outline">
                <input formControlName="index" matInput placeholder="Абревиатура">
            </mat-form-field>
            <mat-form-field *ngIf="!isEditMode()" appearance="outline">
                <input formControlName="name" matInput placeholder="Название">
              </mat-form-field>
              <mat-form-field *ngIf="!isEditMode()" appearance="outline">
                <input formControlName="price" matInput placeholder="Цена за 1 ед.">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Кошилек</mat-label>
                <textarea formControlName="wallet" matInput></textarea>
              </mat-form-field>
              
        </div>
        <div class="block" *ngIf="!isEditMode()">
            <img [src]="imageURL" alt="">
            <input type="file" class="file-input" accept="image/svg+xml"
            (change)="onFileSelected($event)" #fileUpload>

            <div class="file-upload">

                {{image?.name || "Файл не выбран"}}

            <button mat-mini-fab color="primary" class="upload-btn"
            (click)="fileUpload.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
        </div>
        </div>
    </form>
    <div class="w-100 d-flex justify-content-center">
        <button mat-raised-button color="warn" (click)="compliteForm()">
            {{isEditMode() ? 'Изменить' : 'Создать'}}
        </button>
    </div>
</mat-dialog-content>
    
    
      


