.header{
  padding: 14px 0;
}

.navbar-brand{
  cursor: pointer !important;
}

main{
  min-height: 100vh;
  background-color: #f4f7f9;
}


.order-banner-wrap{
  position: fixed;
  top: 93%;
  left: 3%;
  transform: translate(-3%, -93%);
}