
<footer class="footer fixed-bottom">
  <section class="follow">
    <div class="container position-relative">
      <div class="follow__wrap">
        <div class="follow__title">
          Получать новости
        </div>
        <form class="follow__form" action="">
          <div class="follow__form-input">
            <div class="follow__form-input-icon">
              <img class="w-100 h-auto" src="assets/icons/envelope.svg" alt="">
            </div>
            <input 
              class="follow__form-input-input"
              type="email"
              placeholder="Введите Ваш Email"
              required>
          </div>
          <button class="btn-yellow">
            Подписаться
          </button>
        </form>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row footer__paddings">
      <div class="col-3 p-0">
        <div class="footer__logo-block">
          <a class="d-block" routerLink="/">
            <img src="assets/foot-logo.svg" alt="">
          </a>
          <div class="footer__text">
            Самый реактивный обменник.
            <br>
            Быстрый и безопасный способ обменять
            более 20 популярных криптовалют
          </div>
        </div>
        <div class="footer__links-block">
        </div>
      </div>
      <div class="col-7 p-0">
        <nav>
          <ul class="footer__links-list">
            <li class="footer__links-item"><a href="" class="footer__link">Главная</a></li>
            <li class="footer__links-item"><a href="" class="footer__link">Правила</a></li>
            <li class="footer__links-item"><a href="" class="footer__link">Партнёрам</a></li>
            <li class="footer__links-item"><a href="" class="footer__link">Контакты</a></li>
            <li class="footer__links-item"><a href="" class="footer__link">Новости</a></li>
            <li class="footer__links-item"><a href="" class="footer__link">FAQ</a></li>
            <li class="footer__links-item"><a href="" class="footer__link">Энциклопедия</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-1">
        <div class="footer__banners">
          <a class="footer__banners-link d-block" href="https://www.bestchange.ru/cosmochanger-exchanger.html">
            <img class="footer__banners-img" src="assets/banners/bestchange.svg" alt="">
          </a>
          <a class="footer__banners-link d-block" href="">
            <img class="footer__banners-img" src="assets/banners/exchangesumo.svg" alt="">
          </a>
          <a class="footer__banners-link d-block" href="">
            <img class="footer__banners-img" src="assets/banners/kursexpert.svg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
