<section class="change-password">
    <div class="change-password__header">
        Смена пароля
    </div>
    <div class="change-password__body">
        <div class="type-card">
            <div class="type-card__form">
                <label *ngIf="isAdmin()" for="new-email">Новый email</label>
                <input *ngIf="isAdmin()" [(ngModel)]="newEmail" id="new-email" type="email">
                <label for="new-pass">Новый пароль</label>
                <input [(ngModel)]="newPass" (ngModelChange)="checkPasswords($event)" id="new-pass" type="text">
                <label for="check-pass">Повторите новый пароль</label>
                <input [(ngModel)]="newPassCheck" (ngModelChange)="checkPasswords($event)" id="check-pass" type="text">
                <button class="btn-yellow" (click)="changePassword()">Обновить пароль</button>
            </div>
        </div>
    </div>
</section>
