<app-header></app-header>
<main class="main">
  <div class="container">
    <h3 class="main__title text-center text-light ">
      Самый реактивный обменник
    </h3>
    <p class="main__subtitle text-center text-light my-2">
      Быстрый и безопасный способ обменять более 20 популярных криптовалют
    </p>
    <div class="main__select-btns-wrap">
      <form class="main__form">
        <select title="Select your surfboard" class="selectpicker">
          <option>Select...</option>
          <option data-thumbnail="assets/icons/adv.svg">Adv</option>
          <option data-thumbnail="images/icon-firefox.png">Firefox</option>
          <option data-thumbnail="images/icon-ie.png">IE</option>
          <option data-thumbnail="images/icon-opera.png">Opera</option>
          <option data-thumbnail="images/icon-safari.png">Safari</option>
        </select>
        <div class="main__select-change-btn">
          <div class="main__btn"></div>
          <div class="main__btn-drop-content"></div>
        </div>
        <div class="btn btn-warning">Обменять</div>
      </form>
    </div>
  </div>
</main>