<section class="welcome">
  <div class="container">
    <h3 class="welcome__title text-center text-light">
      Самый реактивный обменник
    </h3>
    <p class="welcome__subtitle text-center text-light">
      Быстрый и безопасный способ обменять более 20 популярных криптовалют
    </p>
    <form class="welcome__form">
      <div class="col-5">
        <p-dropdown class="drop-crypto" autoWidth="false" [style]="{'width':'100%'}"  [options]="cryptos" [(ngModel)]="selectedCrypto" optionLabel="name" [filter]="true" filterBy="name"
        name="crypto"
        [showClear]="true" placeholder="Select a Crypto">
        <ng-template pTemplate="selectedItem">
          <div class="country-item country-item-value" *ngIf="selectedCrypto">
            <div><img class="img-select" [src]="selectedCrypto.imageSrc" alt="">{{selectedCrypto.name}}</div>
          </div>
        </ng-template>
        <ng-template let-crypto pTemplate="item">
          <div class="country-item">
            <div><img class="img-select" [src]="crypto.imageSrc" alt="">{{crypto.name}}</div>
          </div>
        </ng-template>
        </p-dropdown>
      </div>
      <div class="col-5">
        <p-dropdown autoWidth="false" [style]="{'width':'100%'}" [options]="changed" [(ngModel)]="selectedChanged" optionLabel="name" [filter]="true" filterBy="name"
        name="changed"
      [showClear]="true" placeholder="Select a Crypto or Bank">
      <ng-template pTemplate="selectedItem">
        <div class="country-item country-item-value" *ngIf="selectedChanged">
          <div><img class="img-select" [src]="selectedChanged.imageSrc" alt="">{{selectedChanged.name}}</div>
        </div>
      </ng-template>
      <ng-template let-changed pTemplate="item">
        <div class="country-item">
          <div><img class="img-select" [src]="changed.imageSrc" alt="">{{changed.name}}</div>
        </div>
      </ng-template>
        </p-dropdown>
      </div>
      <button type="button" class="btn-yellow fw-bold" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Обменять
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" [ngSwitch]="$changeModal | async">
        <div class="modal-dialog" >
          <div class="modal-content modal-bgc" *ngSwitchCase="''">
            <div class="modal-header">
              <div class="btn-close-wrap">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              
              <div class="modal-title w-100">
                <h5 class="text-center fw-bold" id="exampleModalLabel">Создать заявку на обмен</h5>
              </div>
              
            </div>
            <div class="modal-body">
                <div class="col-12">
                  <p-dropdown class="drop-crypto" autoWidth="false" [style]="{'width':'100%'}"  [options]="cryptos" [(ngModel)]="selectedCrypto" optionLabel="name" [filter]="true" filterBy="name"
                  name="crypto"
                  [showClear]="true" placeholder="Select a Crypto"
                  (onChange)="setCalculatedDataFrom()"
                  >
                  <ng-template pTemplate="selectedItem">
                    <div class="country-item country-item-value" *ngIf="selectedCrypto">
                      <div><img class="img-select" [src]="selectedCrypto.imageSrc" alt="">{{selectedCrypto.name}}</div>
                    </div>
                  </ng-template>
                  <ng-template let-crypto pTemplate="item">
                    <div class="country-item">
                      <div><img class="img-select" [src]="crypto.imageSrc" alt="">{{crypto.name}}</div>
                    </div>
                  </ng-template>
                  </p-dropdown>
                </div>
                <input type="tel" class="form-input" [(ngModel)]="amountFrom" [ngModelOptions]="{standalone: true}" (input)="setCalculatedDataFrom()">
                <div class="change-icon-wrap">
                  <i class="pi pi-sort-alt change-icon"></i>
                </div>
                <input type="tel" class="form-input" [(ngModel)]="amountTo" [ngModelOptions]="{standalone: true}" (input)="setCalculatedDataTo()" >
                <div class="col-12">
                  <p-dropdown autoWidth="false" [style]="{'width':'100%'}" [options]="changed" [(ngModel)]="selectedChanged" optionLabel="name" [filter]="true" filterBy="name"
                  name="changed"
                [showClear]="true" placeholder="Select a Crypto or Bank"
                (onChange)="setCalculatedDataFrom()"
                >
                <ng-template pTemplate="selectedItem">
                  <div class="country-item country-item-value" *ngIf="selectedChanged">
                    <div><img class="img-select" [src]="selectedChanged.imageSrc" alt="">{{selectedChanged.name}}</div>
                  </div>
                </ng-template>
                <ng-template let-changed pTemplate="item">
                  <div class="country-item">
                    <div><img class="img-select" [src]="changed.imageSrc" alt="">{{changed.name}}</div>
                  </div>
                </ng-template>
                  </p-dropdown>
                </div>
                <div class="btn-wrap d-flex">  
                  <button type="button" class="btn-yellow btn-big my-2 w-100 btn-font">Продолжить</button>
                </div>
            </div>
          <ng-container class="modal-content" *ngSwitchCase="'BANK'">
            <div class="modal-header">
              bank
            </div>
          </ng-container>
          <ng-container class="modal-content" *ngSwitchCase="'CRYPTO'">
            <div class="modal-header">
              crypto
            </div>
          </ng-container>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
<section class="reserve">
  <div class="container">
    <h2 class="reserve__title">
      Резервы
    </h2>
    <div class="reserve__filter-group d-flex" (click)="filterCards($event)">
      <option 
        class="mx-1 btn reserve__filter-item" 
        value="All"
        [ngClass]="selectedCardFilter === 'All' ? 'btn-warning' : 'btn-light'"
        >All</option>
      <option 
        class="mx-1 btn reserve__filter-item" 
        value="RUB"
        [ngClass]="selectedCardFilter === 'RUB' ? 'btn-warning' : 'btn-light'"
        >RUB</option>
      <option 
        class="mx-1 btn reserve__filter-item" 
        value="USD"
        [ngClass]="selectedCardFilter === 'USD' ? 'btn-warning' : 'btn-light'"
        >USD</option>
      <option 
        class="mx-1 btn reserve__filter-item" 
        value="EUR"
        [ngClass]="selectedCardFilter === 'EUR' ? 'btn-warning' : 'btn-light'"
        >EUR</option>
      <option 
        class="mx-1 btn reserve__filter-item" 
        value="UAN"
        [ngClass]="selectedCardFilter === 'UAN' ? 'btn-warning' : 'btn-light'"
        >UAN</option>
      <option 
        class="mx-1 btn reserve__filter-item" 
        value="CRYPTO"
        [ngClass]="selectedCardFilter === 'CRYPTO' ? 'btn-warning' : 'btn-light'"
        >CRYPTO</option>
      <option 
        class="mx-1 btn reserve__filter-item" 
        value="DeFi"
        [ngClass]="selectedCardFilter === 'DeFi' ? 'btn-warning' : 'btn-light'"
        >DeFi</option>
    </div>
    <div class="reserve__cards-wrap">
      <div *ngFor="let card of cards" class="reserve__card d-flex">
        <div class="reserve__card-img-wrap">
          <img class="reserve__card-img" [src]="card.imageSrc" alt="">
        </div>
        <div class="d-flex flex-column ps-3">
          <p class="reserve__card-title m-0">{{card.name}}<br><span>{{card.valute}}</span></p>
          <p class="m-0 mt-1">{{card.value}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="video">
  <div class="container">
    <div class="video-wrap">
      <iframe width="988" height="555" src="https://www.youtube.com/embed/DwkkfaHy-6M" title="Безопасный обмен криптовалют | CosmoChanger - Самый реактивный обменник" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</section>  

