<section class="welcome">
  <div class="container">
    <h3 class="welcome__title text-center text-light">
      Самый реактивный обменник
    </h3>
    <p class="welcome__subtitle text-center text-light">
      Быстрый и безопасный способ обменять более 20 популярных криптовалют
    </p>
    <form class="welcome__form">
      <div class="col-md-4 col-8 p-drop-container mx-2">
        <p-dropdown class="drop-crypto" autoWidth="false" [style]="{'width':'100%'}"  [options]="cryptos" [(ngModel)]="selectedCrypto" (ngModelChange)="setSelectedCrypto($event)" optionLabel="name" [filter]="true" filterBy="name"
        name="crypto"
        [showClear]="true" placeholder="Select a Crypto">
        <ng-template pTemplate="selectedItem">
          <div class="country-item country-item-value" *ngIf="selectedCrypto">
            <div><img class="img-select" [src]="'data:image/svg+xml;' + selectedCrypto.image" alt="">{{selectedCrypto.name}}</div>
          </div>
        </ng-template>
        <ng-template let-crypto pTemplate="item">
          <div class="country-item">
            <div><img class="img-select" [src]="'data:image/svg+xml;' + crypto.image" alt="">{{crypto.name}}</div>
          </div>
        </ng-template>
        </p-dropdown>
      </div>
      <div class="col-md-4 col-8 p-drop-container mx-2">
        <p-dropdown autoWidth="false" [style]="{'width':'100%'}" [options]="changed" [(ngModel)]="selectedChanged" (ngModelChange)="setSelectedChanged($event)" optionLabel="name" [filter]="true" filterBy="name"
        name="changed"
      [showClear]="true" placeholder="Select a Crypto or Bank">
      <ng-template pTemplate="selectedItem">
        <div class="country-item country-item-value" *ngIf="selectedChanged">
          <div><img class="img-select" [src]="selectedChanged.image" alt="">{{selectedChanged.name}}</div>
        </div>
      </ng-template>
      <ng-template let-changed pTemplate="item">
        <div class="country-item">
          <div><img class="img-select" [src]="changed.image" alt="">{{changed.name}}</div>
        </div>
      </ng-template>
        </p-dropdown>
      </div>
      <button type="button" class="btn-yellow" (click)="openOrderDialog()">
        Обменять
      </button>
    </form>
  </div>
</section>
<section class="reserve">
  <div class="container">
    <h2 class="reserve__title">
      Резервы
    </h2>
    <div class="reserve__filter-group" (click)="filterCards($event)">
      <option 
        class="mx-1 btn reserve__filter-item" 
        value="All"
        [ngClass]="selectedCardFilter === 'All' ? 'btn-warning' : 'btn-light'"
        >All</option>
      <option 
        class="mx-1 btn reserve__filter-item" 
        value="RUB"
        [ngClass]="selectedCardFilter === 'RUB' ? 'btn-warning' : 'btn-light'"
        >RUB</option>
      <option 
        class="mx-1 btn reserve__filter-item" 
        value="USD"
        [ngClass]="selectedCardFilter === 'USD' ? 'btn-warning' : 'btn-light'"
        >USD</option>
      <option 
        class="mx-1 btn reserve__filter-item" 
        value="EUR"
        [ngClass]="selectedCardFilter === 'EUR' ? 'btn-warning' : 'btn-light'"
        >EUR</option>
      <option 
        class="mx-1 btn reserve__filter-item" 
        value="UAN"
        [ngClass]="selectedCardFilter === 'UAN' ? 'btn-warning' : 'btn-light'"
        >UAN</option>
      <option 
        class="mx-1 btn reserve__filter-item" 
        value="CRYPTO"
        [ngClass]="selectedCardFilter === 'CRYPTO' ? 'btn-warning' : 'btn-light'"
        >CRYPTO</option>
      <option 
        class="mx-1 btn reserve__filter-item" 
        value="DeFi"
        [ngClass]="selectedCardFilter === 'DeFi' ? 'btn-warning' : 'btn-light'"
        >DeFi</option>
    </div>
    <div class="reserve__cards-wrap">
      <div *ngFor="let card of cards" class="reserve__card">
        <div class="reserve__card-img-wrap">
          <img class="reserve__card-img" [src]="card.image" alt="">
        </div>
        <div class="reserve__card-content ps-3">
          <p class="reserve__card-title m-0">{{card.name}}<br><span>{{card.valute}}</span></p>
          <p class="m-0 mt-1">{{card.value}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="video">
  <div class="container">
    <div class="video-wrap">
      <iframe width="988" height="555" src="https://www.youtube.com/embed/DwkkfaHy-6M" title="Безопасный обмен криптовалют | CosmoChanger - Самый реактивный обменник" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</section>  

