<section class="rules">
  <div class="container">
    <h1 class="text-center rules__title">
      Партнёркая программа
    </h1>
    <div class="rules__content">
      <div class="margin-block">
        <p class="fw-bold">Что мы предлагаем?</p>
        <p>Реферальная программа дает возможность
          активному Пользователю пригласить друга-новичка
          и извлекать пользу в виде % при обмене в нашем Сервисе.
        </p>
        <p class="fw-bold">
          Условия
        </p>
        <p>До 30 рефералов – 0.5 % от суммы обмена</p>
        <p>30 – 60 рефералов – 0.6 % от суммы обмена</p>
        <p>От 60 рефералов – 0.7 % от суммы обмена</p>
        <p class="fw-bold">Как привлечь пользователя?</p>
        <p>- Вебмастера могут размещать баннеры и другие
          рекламные материалы на своих сайтах,
          блогах и прочих доступных площадках;
        </p>
        <p>- Для пользователей мировой паутины
          доступны тематические форумы и прочие
          бесплатные площадки, где можно создать
          тему, ответить в разговоре, либо же вставить
          ссылку в подпись. Так же отдельного внимания
          заслуживают социальные сети;
        </p>
        <p>
          - Для представителей мониторингов обмена
          электронной валюты мы предоставляем файлы
          выгрузки курсов согласно требованиям
          <a href="https://www.bestchange.ru/wiki/rates.html">BestChange</a>  
          (обратитесь в поддержку сайта).
        </p>
        <p>
          Начисления и выплаты по партнерской программе ведутся
          исключительно в долларах. Минимальная сумма для снятия
          заработанных денег с партнерского счета составляет 10 USD.
          Выплаты производятся с 1 по 5 число каждого месяца.
          Начисления не производятся с заявок прибыль которых
          является для сервиса отрицательной.
        </p>
        <p>
          Вывод реферального вознаграждения возможен
          после приглашения более 5 активных рефералов.
        </p>
        <p>
          Каждый реферал должен создать минимум одну успешную
          заявку на сайте. Так же регистрация с одного
          ip-адреса партнера и реферала - строго запрещено!
          Рефералом и пригласителем не должен является 
          один и тот же пользователь.
        </p>
        <p>
          Размещение своей партнерской ссылки
          и рекламных материалов на пирамидах,
          серфингах и подобных площадках - строго запрещено!
        </p>
        <p>
          Администрация сайта в праве
          аннулировать бонусы партнера
          при нарушении условий
          Партнерской программы.
        </p>
        <p class="fw-bold">
          Накопительная система скидок
        </p>
        <p>
          В нашем обменном сервисе существует
          отличная система накопительных скидок,
          которая позволяет вам экономить на обменных операциях
        </p>
        <p>
          Объем всех ваших успешных заявок
          в долларах используется для вычисления 
          вашей текущей скидки
        </p>
        <p>
          При регистрации вы получаете
          базовую скидку в 0.05% от суммы заявки
        </p>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">От</th>
              <th scope="col">До</th>
              <th scope="col">Процент</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>0</td>
              <td>300</td>
              <td>00.5%</td>
            </tr>
            <tr>
              <td>300</td>
              <td>500</td>
              <td>00.6%</td>
            </tr>
            <tr>
              <td>500</td>
              <td>1000</td>
              <td>0.07%</td>
            </tr>
            <tr>
              <td>1000</td>
              <td>2000</td>
              <td>0.1%</td>
            </tr>
            <tr>
              <td>2000</td>
              <td>3000</td>
              <td>0.12%</td>
            </tr>
            <tr>
              <td>3000</td>
              <td>5000</td>
              <td>0.13%</td>
            </tr>
            <tr>
              <td>5000</td>
              <td>10000</td>
              <td>0.15%</td>
            </tr>
            <tr>
              <td>10000</td>
              <td>&#8734;</td>
              <td>0.2%</td>
            </tr>
          </tbody>
        </table>
        <p class="text">Также, для получения повышенной скидки Вы можете обратиться в <a href="#">службу поддержки</a> или написать нам на почту <a href="#">support@cosmochanger.cc</a></p>
      </div>
    </div>
  </div>
</section>
