.payment{
    &__header{
        display: flex;
        padding-top: 20px;
        & > p{
            &:last-child{   
                font-weight: 600;
                margin-left: 20px;
            }
        }
    }
    &__body{
        padding: 20px 0 40px 0;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: 165px 100px 530px;
        grid-template-areas: 
        'change loader'
        'alert alert'
        'qr qr';
        @media(max-width: 800px){
            grid-template-rows: repeat(2, 165px) 140px 530px;
            grid-template-areas: 
            'change change'
            'loader loader'
            'alert alert'
            'qr qr';
        }
        @media(max-width: 500px){
            grid-template-rows: repeat(2, 165px) 140px 570px;
        }
    }
}

.card-type{
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 16%);
    &__change{
        grid-area: change;
        font-weight: 500;
        & > p:last-child{
            font-size: 14px;
            font-weight: 400;
        }
        & > p:nth-child(2){
            margin: 0;
        }
    }
    &__loader{
        grid-area: loader;
        &-content{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }
    &__alert{
        grid-area: alert;
    }
    &__qr{
        grid-area: qr;
    }
}

.text-yellow{
    color: #fcbf11;
    word-break: break-all;
}

.timer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.timer-wrap{
    width: 70px;
    height: 70px;
    position: relative;
}

.btn-wrap{
    display: flex;
    @media(max-width: 800px){
        justify-content: space-around;
    }
}

.btn-yellow{
    width: 30%;
    border: none;
    outline: none;
    background-color: #fcbf11;
    box-shadow: 0 0 10px rgb(252 191 17 / 25%);
    border-radius: 0 3px 3px 0;
    transition: box-shadow .24s ease background-color .24s ease;
    padding: 18px 62px;
    font-weight: 600;
    &:hover{
        box-shadow: 0 0 35px rgb(252 191 17 / 45%);
    }
    @media(max-width: 800px){
        padding: 18px 18px;
    }
    @media(max-width: 500px){
        width: 38%;
        padding: 8px 16px;
    }
}

.btn-grey{
    width: 30%;
    border: none;
    outline: none;
    background-color: darkgrey;
    box-shadow: 0 0 10px rgb(252 191 17 / 25%);
    border-radius: 0 3px 3px 0;
    transition: box-shadow .24s ease background-color .24s ease;
    padding: 18px 62px;
    font-weight: 600;
    &:hover{
        box-shadow: 0 0 35px rgb(252 191 17 / 45%);
    }
    @media(max-width: 800px){
        padding: 18px 18px;
    }
    @media(max-width: 500px){
        width: 38%;
        padding: 8px 16px;
    }
}

