::ng-deep mat-dialog-content{
    width: 430px;
    height: 570px;
    background-color: #ececec;
}


::ng-deep .modal-header{
    display: block;
    padding: 24px 10px 20px;
    background-color: #ececec;
}
  
::ng-deep .modal-header .btn-close{
margin: 0;
}
  
::ng-deep .modal-title{
justify-self: center;
}
  
::ng-deep .modal-title-content{
font-size: 23px;
font-weight: 600;
}
  
.modal-bgc{
    background-color: #ececec;
}
  
  .btn-close{
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    opacity: 1;
    right: 0;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: background-color .5s ease;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    &:hover{
      background-color: #dcdcdc;
    }
  }
  
  ::ng-deep .modal-body{
    padding: 20px 30px;
    background-color: #ececec;
  }
  
  .change-icon{
    font-size: 2rem;
    &-wrap{
      text-align: center;
    }
  }
  
  .btn-big{
    height: 64px;
    transition: box-shadow .24s ease, background-color .24s ease;
    &:hover{
      box-shadow: 0 0 35px rgb(252 191 17 / 45%);
    }
  }
  
  .form-input{
    border: none;
    border-bottom: 1px solid #0500ff;
    outline: none;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 4px;
    text-align: center;
    background-color: #ececec;
    width: 100%;
    margin: 5px 0 15px 0;
  }
  
  .icon-wrap{
    left: 18px;
    max-width: 18px;
    pointer-events: none;
    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    & > img{
      width: 100%;
      height: auto;
    }
  }
  
  ::ng-deep .user-form{
    & .field-input > input[type="text"],
    & .field-input > input[type="email"]{
      background: #ececec;
      border-radius: 7px;
      width: 100%;
      padding: 22px 17px 17px 42px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #212121;
      border: 1px solid rgba(17, 17, 17, .1);
      box-sizing: border-box;
      transition: border .5s ease;
      &:focus{
        border: 1px solid rgba(17, 17, 17, .3);
      }
      &::placeholder{
        font-weight: 400;
        transition: color .5s ease;
      }
      &:focus::placeholder{
        color: transparent
      }
    }
  
    & .field-title{
      color: #000;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.25;
    }
  }
  
  ::ng-deep .form-control{
    &:focus{
      box-shadow: none;
    }
  }
  
  .cursor-p{
    cursor: pointer;
  }
  
  ::ng-deep .form-check-label{
    font-size: 13px;
    font-weight: 500;
    line-height: 1.25;
    color: #212121;
    margin-right: 7px;
    cursor: pointer;
  }
  
  ::ng-deep .form-check-input{
    &:focus{
      box-shadow: none;
    }
    &:checked[type="checkbox"]{
      background-image: none;
    }
    &:checked{
      background-color: #fcbf11;
      padding: 3px;
    }
  }

  .btn-yellow{
    width: 200px;
    background-color: #fcbf11;
    font-weight: 600;
    border: none;
    border-radius: 0 3px 3px 0;
  }