<section class="rules">
  <div class="container">
    <h1 class="rules__title text-center">Контакты</h1>
    <div class="rules__content">
      <p class="text">Для рекламы и сотрудничества:</p>
      <a class="link">partners@cosmochanger.cc</a>
      <p class="text">Поддержка по почте:</p>
      <a class="link" href="#">support@cosmochanger.cc</a>
      <p class="text">Чат онлайн:</p>
      <a class="link" href="#">Открыть чат для поддержки</a>
      <p class="text">В нашем обменном сервисе Сosmochanger абсолютно каждый сможет быстро и просто
        обменять самые популярные криптовалюты на большинство известных банков и
        платёжных систем и обратно. А наша опытная и сплоченная
        команда поддержки ответит на каждый интересующий Вас вопрос.
      </p>
      <p class="text">Отзывы клиентов сервиса на сторонних сайтах, мы рады вашим оставленным отзывам:</p>
      <div class="d-flex flex-wrap">
        <a class="link" href="">Мониторинг Best Change</a>
        <a class="link" href="">Mониторинг Курс Эксперт</a>
        <a class="link" href="">Mониторинг OKchanger</a>
        <a class="link" href="">Мониторинг ExchangeSumo</a>
      </div>
    </div>
  </div>
</section>

